@import url(http://fonts.googleapis.com/css?family=Raleway:800,400);
body {
    background: #D3D2C6;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1 {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
}
h2 {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}
.button {
    background: #A09C7D;
    height: 25px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}