@import url(http://fonts.googleapis.com/css?family=Raleway:800,400);

body {
  background: #D3D2C6;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.button{
  background: #A09C7D;
  height:50px;
  width:100px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
